# OS
.DS_Store
Thumbs.db

# Temp / tools
assets/video/raw*.mp4
assets/video/yt-dlp.exe
assets/video/*.tmp

# Local Netlify folder
.netlify

# Node
node_modules/

# Netlify CLI local tooling artifact
deno.lock
